* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    position: relative;
    width: 1600px;
    max-width: 100%;
    margin: 0 auto;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {

}

.button {
    text-align: center;
}

.wrapper {
    width: 100%;
    max-width: 1140px;
    height: 100%;
    margin: 0 144px 0 230px;
}

/*=============header=============*/

.header {
    width: 100%;
    max-width: 1600px;
    height: 90px;
    background-color: white;
    display: flex;
    align-items: center;
}

.wrapper_header {
    display: flex;
    align-items: center;
    margin-left: 230px;
    width: 100%;
}

.header__logo {
    width: 106px;
    height: 26px;
    display: flex;
    align-items: center;
}

.header__logo__icon {
    width: 23px;
    height: 26px;
}

.header__logo__title {
    font-family: 'Hind Siliguri', sans-serif;
    padding-left: 8px;
    color: #247CC0;
    font-weight: bold;
    font-size: 13px;
}

.header__nav {
    width: 574px;
    height: 23px;
    margin-left: 177px;
    display: flex;
    align-items: center;
}

.header__nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav li {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.header__nav a {
    color: black;
    font-size: 14px;
}

.header__nav li:first-child {
    margin-left: 0;
}

.nav_link {
    display: flex;
    align-items: center;

}

.nav__triangle {
    width: 12px;
    height: 23px;
    color: black;
    margin: 5px 0 0 5px;
}

.bl {
    font-weight: 500;
    color: black;
    font-family: 'Hind Siliguri', sans-serif;
}

.nav_link__contact {
    width: 80px;
}

.header__profile {
    width: 125px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 157px;
}

.header__profile a:first-child {
    margin-left: 0;
}

.header__profile a {
    margin-left: 30px;
}

.header__profile__img-1 {
    width: 15px;
    height: 15px;
}

.header__profile__img-2 {
    width: 22px;
    height: 20px;
}

.header__profile__img-3 {
    width: 35px;
    height: 35px;
}

/*==============main__top-banner============*/

.main__top-banner {
    width: 100%;
    max-width: 1236px;
    height: 811px;
    background-color: white;
    display: flex;
    margin-left: 230px;
}

.main__top-banner__left {
    width: 593px;
    height: 640px;
}

.top-banner__top-title {
    width: 166px;
    height: 28px;
    color: #DD7C86;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: normal;
    font-size: 20px;
    margin: 75px 0 3px 9px;
}

.top-banner__title-1 {
    width: 485px;
    height: 72px;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 59px;
    text-align: center;
    background-color: #E9F2F9;
    font-weight: bold;
    color: #247CC0;
    line-height: 1.2;
    padding-left: 10px;
}

.top-banner__title-2 {
    width: 622px;
    height: 141px;
    color: black;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: normal;
    line-height: 1.2;
    font-size: 61px;
    margin: 0 0 29px 10px ;
}

.top-banner__text {
    width: 622px;
    height: 54px;
    font-size: 21px;
    color: #686E73;
    margin: 0 0 36px 10px;
}

.top-banner__price__link a {
    color: #ffffff;
    width: 151px;
    height: 58px;
    background-color: #247CC0;
    padding: 16px 35px;
    margin: 0 31px 0 10px;
}

.top-banner__price__new {
    margin-right: 18px;
}

.top-banner__price__old {
    color: #81868A;
    text-decoration: line-through;
}

.main__top-banner__right {
    width: 100%;
    max-width: 643px;
    height: 640px;
}

.top-banner__img {
    width: 643px;
    height: 611px;
    overflow: hidden;
}

.top-banner__company {
    width: 1140px;
    height: 237px;
    position: absolute;
    margin: 574px 0 0 10px;
    background-color: white;
    display: flex;
    box-shadow: 0  20px 50px 20px rgba(197,201,201,0.3);;
}

.top-banner__company ul {
    display: flex;
    align-items: center;
}

.top-banner__company li {
    width: 163px;
    height: 85px;
    margin-left: 84px;
}

